@media only screen and (max-width: 1280px) {
  @font-face {
    font-family: Gramatika Light;
    src: url(../fonts/15088.ttf);
  }
  @font-face {
    font-family: Gill Sans Nova Cn Heavy;
    src: url(../fonts/16071.ttf);
  }

  *{
    user-select: none;
    margin: 0;
    font-family: 'Gill Sans Nova Cn Heavy';
  }


  .container_portfolio{
    background-color: white;
    padding: 30px 50px 30px 50px;
  }
  .epicentr,
  .invitro,
  .comfy,
  .synevo,
  .fix_up,
  .smarts{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    background-image: url('../img/27.png');
    background-size: cover;
    background-position: center;
    transition: background-image .5s;
  }
  .epicentr{
    margin-bottom: 0px;
    margin-top: 30px;
  }
  .epicentr:hover{
    background-image: url('../img/27U.png');
  }
  .invitro:hover{
    background-image: url('../img/invitro_.png');
  }
  .comfy:hover{
    background-image: url('../img/comfy_.png');
  }
  .synevo:hover{
    background-image: url('../img/synevo_.png');
  }
  .fix_up:hover{
    background-image: url('../img/fix_.png');
  }
  .smarts:hover{
    background-image: url('../img/smart_.png');
  }
  .visualization{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text{
    line-height: 1.2;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    padding: 20px;
    width: 50%;
  }
}
