@media only screen and (max-width: 768px){
  @font-face {
    font-family: Gramatika Light;
    src: url(../fonts/15088.ttf);
  }
  @font-face {
    font-family: Gill Sans Nova Cn Heavy;
    src: url(../fonts/16071.ttf);
  }
  *{
    margin: 0;
    font-family: 'Gill Sans Nova Cn Heavy';
  }
  body{
    background-image: linear-gradient(to top, rgba(27,27,27,0.8), rgba(27,27,27,0.8)), url('../img/body.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
  .header{
    width: 100%;
    height: 500px;
    background: linear-gradient(to top, rgba(28,28,28,1), rgba(28,28,28,0)), url('../img/city.png') center;
    background-size: cover;
  }




  .about{
    color: white;
    padding: 20px 30px 20px 30px;
    text-align: justify;
    background: linear-gradient(to top, rgba(27,27,27,0), rgba(27,27,27,1));
  }
  .about h2{
    font-size: 50px;
    margin-bottom: 20px;
  }
  .about p{
    font-size: 20px;
  }




  .advantages{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 30px 20px 30px;
    justify-content: space-between;
  }
  .advantages h2{
    width: 100%;
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 50px;
  }
  .advantages h3{
    font-size: 25px;
    color: #2F4F4F;
  }
  .advantages p{
    font-weight: bold;
  }
  .responsive,
  .answer,
  .design,
  .quality,
  .help,
  .settings{
    width: 45%;
  }




  .about_work{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(to top, rgba(27,27,27,0), rgba(27,27,27,1));
    margin-bottom: 50px;
  }
  .about_work>div{
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 40%;
    padding: 10px 0 10px 0;
  }
  .about_work span{
    width: 100%;
    font-size: 20px;
  }
  .about_work .number{
    font-size: 50px;
    width: 100%;
  }
  .hour_work,
  .time{
    margin-left: 30px;
  }
  .number_works,
  .users{
    margin-right: 30px;
  }




  .customers{
    background-color: white;
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .customers h2{
    width: 100%;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
  }
  .customers div{
    width: 45%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }





  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, rgba(28,28,28,1), rgba(28,28,28,0.5), rgba(28,28,28,1)), url('../img/contacts.jpg') center;
    background-size: cover;
  }
  .nav{
    width: 100%;
  }
  footer ul{
    width: 100%;
    text-align: center;
  }
  .inline .number{
    font-size: 30px;
    color: white;
  }
  .phone_number{
    display: none;
  }
  .inline li{
    display: inline;
    font-size: 20px;
    margin-right: 10px;
  }
  li>a{
    text-decoration: none;
    color: white;
  }
  li>a:hover{
    color: orange;
  }
}
