@media only screen and (max-height: 300px){
    @font-face {
      font-family: Gramatika Light;
      src: url(../fonts/15088.ttf);
    }
    @font-face {
      font-family: Gill Sans Nova Cn Heavy;
      src: url(../fonts/16071.ttf);
    }
    *{
      user-select: none;
      margin: 0;
      font-family: 'Gill Sans Nova Cn Heavy';
    }
    
    
    
  
    .modalReturnCall{
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -100%;
      left: -50%;
      width: 100%;
      height: 100%;
      background-color: rgba(27, 27, 27,.9);
    }
    .blockModalReturnCall{
      width: 450px;
      height: 200px;
      background-color: white;
    }
    .closeModalReturnCall{
      display: flex;
      justify-content: flex-end;
    }
    .closeModalReturnCall button{
      cursor: pointer;
      font-size: 25px;
      height: 40px;
      width: 40px;
      position: absolute;
    }
    .formReturnCall{
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
    }
    .formReturnCall div:not(.imgReturnCall){
      display: flex;
      justify-content: center;
      font-size: 18px;
      width: 100%;
      margin: 10px 0 10px 0;
    }
    .imgReturnCall{
      display: none;
    }
    .formReturnCall form{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .formReturnCall form>input{
      font-size: 18px;
      width: 100%;
      height: 30px;
      margin: 4px 0 4px 0;
    }
    .formReturnCall form>input:nth-child(3){
      background-color: green;
      color: white;
      letter-spacing: 2px;
      width: 60%;
      height: 40px;
      outline: none;
      cursor: pointer;
    }
  }